<div id="wrapper">

  <div class="jumbotron">
    <h1 class="display-4">News Scraper</h1>
    <p class="lead">Get your news from News Scraper.</p>
    <a href="/saved" id = "saved-list">Go to Saved Articles</a> 
    
</div>
    <div id="articles"></div>
    <div id="notes"></div>
</div>
    
  <script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/assets/js/app.js"></script>
